 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 617px;
}

.u-section-1 .u-text-1 {
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 16px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 26px;
  margin-bottom: 20px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 422px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 12px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/msmith.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 12px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1306px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}